@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Open Sans', 'Inter', ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
  }

  .gradient-text {
    background-image: linear-gradient(to right, #ec4899, #7e22ce);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  p,
  a,
  li {
    @apply text-lg;
    @apply font-sans;
    @apply text-gray-100;

  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pb-2
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply text-gray-200;
  }

  h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply text-gray-200;
  }

  h4 {
    @apply text-2xl;
    @apply font-bold;
    @apply text-gray-200;
    @apply pb-1;
    @apply pt-4;
  }

  ul {
    display: grid;
    gap: 0.3rem;
    list-style-type: disc;
    padding-left: 1.3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  a {
    @apply text-purple-500;
    @apply hover:text-purple-700;
  }
}