---
import MainLayout from "@/layouts/MainLayout.astro";
import avatar from "@/assets/avatar.png";
import { Image } from "astro:assets";
import NewsLetterForm from "@/components/NewsLetterForm.astro";
---

<MainLayout
  section="about"
  title="About Falconiere Barbosa"
  description="Learn more about Falconiere Barbosa, a software developer, lifelong learner, and passionate writer."
>
  <main class="max-w-4xl mx-auto p-6 pb-10">
    <div class="text-center pb-10">
      <Image
        src={avatar}
        alt="Sarah Parker"
        class="w-32 h-32 rounded-full mx-auto mb-8 object-cover"
      />
      <h1 class="text-4xl font-bold mb-4 dark:text-white">
        Falconiere Barbosa
      </h1>
      <p
        class="text-lg italic text-gray-600 dark:text-gray-400 max-w-xl mx-auto"
      >
        Devoted husband, proud father of Ágatha, passionate about technology,
        science, music, and a lifelong learner.
      </p>
    </div>
    <div
      class="prose dark:prose-invert prose-lg max-w-none py-8 border-divider"
    >
      <h2>Who Am I?</h2>
      <p>
        A software developer by profession, a lifelong learner by passion. My
        interests stretch far beyond code, into the realms of science, art, and
        the human experience. This blog reflects my journey of growth and
        discovery
      </p>
      <h2>What You’ll Find Here</h2>
      <p>
        Reflections, explorations, and insights on topics that inspire me. From
        personal growth and philosophy to technology and music, I write about
        what excites me, challenges me, and keeps me learning.
      </p>
      <h2>My Approach</h2>
      <p>
        Curiosity drives everything I do. I embrace a multidisciplinary mindset,
        diving deep into topics that challenge conventional thinking and foster
        growth. My goal is to connect ideas, spark new perspectives, and
        encourage thoughtful conversations
      </p>
      <h2>Join the Conversation</h2>
      <p>
        This isn’t just about my ideas—it’s about the exchange of perspectives.
        I welcome your thoughts, questions, and feedback as we navigate the
        wonders of the world together.
      </p>
    </div>
    <NewsLetterForm />
  </main>
</MainLayout>
