---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import NewsLetterForm from "@/components/NewsLetterForm.astro";
import PostTimeInfo from "@/components/PostTimeInfo.astro";
const posts = await getCollection("blog", ({ data }) => {
	return data.draft !== true;
});
---

<MainLayout>
	<main class="max-w-4xl mx-auto p-6 pb-10">
		<h1 class="text-4xl font-bold pb-2">Latest</h1>
		<p class="text-xl max-w-2xl text-gray-30">
			This is a collection of my latest blog posts. Enjoy! 🚀
		</p>
		<div class="grid pt-4">
			{
				posts.map((post) => (
					<a href={`/blog/posts/${post.id}`} class="border-divider group py-6">
						<article class="group cursor-pointer flex gap-2 flex-col hover:opacity-70">
							<PostTimeInfo post={post} />
							<div>
								<h2 class="text-xl font-bold pb-1">{post.data.title}</h2>
								<p class="font-medium text-gray-600 dark:text-gray-400">
									{post.data.description}
								</p>
							</div>
						</article>
					</a>
				))
			}
		</div>
		<NewsLetterForm />
	</main>
</MainLayout>
