---
import SocialLinks from '@/components/SocialLinks.astro';
---

<footer
  class="p-4 md:p-6 text-center border-divider flex flex-col items-center gap-4"
>
  <SocialLinks />
  <p class="text-gray-600 dark:text-gray-400 text-sm md:text-lg">
    Falconiere Barbosa &copy; {new Date().getFullYear()} - All rights reserved
  </p>
</footer>
