---
import "@/styles/tailwind.css";
import Body from "@/components/Body.astro";
import Head from "@/components/Head.astro";
import PostComments from "@/components/PostComments.astro";
const { id } = Astro.params;
if (id === undefined) {
  return Astro.redirect("/404");
}
---

<!doctype html>
<html lang="en">
  <Head />
  <Body>
    <article class="mx-auto">
      <slot />
    </article>
    <PostComments />
  </Body>
</html>
