---
import Body from "@/components/Body.astro";
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import NewsLetterForm from "@/components/NewsLetterForm.astro";
---

<!doctype html>
<html lang="en">
	<Head />
	<Body>
		<slot />
		<NewsLetterForm />
		<Footer />
	</Body>
</html>
