---
import Prose from "../components/Prose.astro";
import Head from "../components/Head.astro";
import Body from "@/components/Body.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head />
  <Body>
    <h1>
      {frontmatter.title}
    </h1>
    <Prose>
      <slot />
    </Prose>
  </Body>
</html>
